:root{
  --mainBlue: #0072f3;
  --lightBlue: #4af3b8;
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainOrange: #ff6802;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html{
  height: 100%;
}
body{
  /* Overwrite bootstrap */
  font-family: 'Montserrat', sans-serif!important;
  background: var(--mainWhite) !important;
  color: var(--mainDark);
  position: relative;
  margin: 0;
  overflow-x: hidden;
}
.text-title{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.general-button{
  color: var(--mainWhite);
  text-decoration: none;
}
.general-button:hover{
  color: var(--mainDark);
  text-decoration: none;
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)!important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark)!important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainOrange);
}

/* Home page */
.sliderContent{
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  float: right;
  padding-right: 2.5%;
}
.sliderContainer{
  color: white;
  background: linear-gradient(
          rgba(20,20,20, .8),
          rgba(20,20,20, .8)),
  url('penguinsBG.png') center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/* Shirt section */
.shirts-container{
  background: linear-gradient(
          rgba(20,20,20, .4),
          rgba(20,20,20, .4)),
  url("peng.jpg") center no-repeat;
  background-size: cover;
}
.shirts-content{
  max-width: 400px;
  padding: 10% 0 2% 5%;
  color: var(--mainWhite);
}

/* How does it work section */
.work-container{
  /*background: url("../../images/bg.jpg") center no-repeat;*/
  background-size: cover;
}
.work-text{
  text-align: center;
  padding: 20px;
}
.work-items{
  display: flex;
  align-content: space-between;
  padding: 0px 20px;
}

.background-black{
  background-color: var(--mainBlue);
  padding: 20px;
}

.page-footer{
  background-color: var(--mainDark);
  color: var(--mainWhite);
}
footer a {
  color: var(--mainOrange);
}
.footer-copyright{
  background-color: var(--mainOrange);
}