:root{
  --mainBlue: #0072f3;
  --lightBlue: #4af3b8;
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainOrange: #ff6802;
}
body{
  /* Overwrite bootstrap */
  font-family: 'Montserrat', sans-serif!important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  height: 100%;
  min-height: 100%;
}
.text-title{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)!important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark)!important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainOrange);
}

/* Home page */
.sliderContent{
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  float: right;
  padding-right: 2.5%;
}
.sliderContainer{
  /*background: url('../../images/header1.jpg') center no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/* Shirt section */
.shirts-container{
  /*background: url("../../images/header2.jpg") center no-repeat;*/
  background-size: cover;
}
.shirts-content{
  max-width: 400px;
  padding: 10% 0 2% 5%;
}

/* How does it work section */
.work-container{
  /*background: url("../../images/bg.jpg") center no-repeat;*/
  background-size: cover;
}
.work-text{
  text-align: center;
  padding: 20px;
}
.work-items{
  display: flex;
  align-content: space-between;
  padding: 0px 20px;
}

footer{
  background-color: var(--mainBlue);
}
footer a {
  color: var(--mainOrange);
}
.footer-copyright{
  background-color: var(--lightBlue);
}
.footer-left-col{
  width: 50%;
  float: left;
}
.footer-right-col{
  width: 50%;
  float: right;
}